.card {
	transition: all .5s ease;
	padding: 1rem;

	&_mini {
	max-height: 5.7rem;
	overflow: hidden;
	}	
	&__columns {		
	display: flex;
	gap: 1rem;
	width: 100%;
	} 
	&__column-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	}
	&__column-content-header {
	width: 100%;
	display: flex;
	flex: 40% 48%;
	justify-content: space-between;
	}
	&__column-content-data {
		padding: .3rem 0 0 0;
	}
	&__avatar {
		width: 3.6rem;
		border-radius: 50%;		
	}
	&__date {
		font-size: .8rem;	
		text-align: center;
		color:  rgb(150, 148, 148);
	}
	
	&__column-content-author {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 1rem;
		color: rgb(150, 148, 148);
		font-style: italic;		
	}
	&__subtitle {
		transition: all .2s ease;
		font-size: .7rem;
		line-height: 1.1;
		font-weight: normal;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: .2rem 0 0 0;

		&_full {
			transition: all .5s ease;
			text-align: justify;
		}
	}
	&__control-card {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 2.8rem;

		&_mini {
			flex-direction: column-reverse;
			justify-self: end;
		}
	}
	&__buttons {
		display: flex;
		gap: 1rem;
		@media (max-width:850px){
			gap: .5rem
		}
	}
	&__icons {
		display: flex;
		justify-content: end;
		gap: .3rem;
	}
	&__wrapper-button-settings {
		position: relative;

		&_overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
	}
	&__menu-wrapper {
		transition: all .5s ease;
		position: absolute;
		top: 100%;
		right: 0; 
	}
	&__menu {
		display: none;
		font-size: .7rem;

		&_visible {
			display: flex;
			gap: 1rem;
		}
	}
	&__menu-copy  {
		cursor: pointer;
	}
	&__menu-delete {
		display: flex;
		cursor: pointer;
		&_confirmation {
			color: rgb(151, 10, 10);
		}
	}
	&__icon {
		transition: all .1s ease;
		width: 1.3rem;
		height: 1.3rem;
		cursor: pointer;

		&_type {
			transition: all .5s ease;
			&_comment {
					transition: all .5s ease;
					filter: invert(48%) sepia(19%)  
					brightness(195%) 
					contrast(40%);
					&:hover {
						filter: invert(35%) sepia(10%) saturate(2207%) hue-rotate(190deg) brightness(95%) contrast(80%);
					}					
					&_active {
						filter: invert(35%) sepia(10%) saturate(2207%) hue-rotate(190deg) brightness(95%) contrast(80%);
					}
					&_visible {
						opacity: 0;
						pointer-events: none;
					}
			}
			&_dimensions {	
				transition: all .5s ease;	
							
				&_active {
					transition: all .5s ease;
					filter: invert(35%) sepia(10%) saturate(2207%) hue-rotate(170deg) brightness(95%) contrast(80%);
				}
			}
			&_settings {
				transition: all .5s ease;
				&:hover {
						filter: invert(175%) sepia(90%) saturate(7207%) hue-rotate(160deg) brightness(55%) contrast(80%);
					}
				&_active {
					transition: all .5s ease;
					filter: invert(175%) sepia(90%) saturate(7207%) hue-rotate(160deg) brightness(55%) contrast(80%);	
				}					
			}
			&_favourites {
				&_no-active {
					transition: filter .2s ease;
					filter: invert(48%) sepia(19%) 
					brightness(195%) 
					contrast(60%);
				&_active {
					transition: filter .2s ease;
					filter: invert(48%) sepia(19%) 
					brightness(195%) 
					contrast(60%);
				}
			}
			}
		}
	}	
	&__more {
		transition: all .2s ease;
		cursor: pointer;
		font-style: italic;
		font-size: 0.9rem;
		color: rgb(120, 148, 172);
	}
	&__video {
		transition: all 1s ease;
		max-width: 25.9rem;
		max-height: 14.6rem;	
		object-fit: contain;
		object-fit: cover;
		object-position: bottom;
		margin: 1rem 0 0 0;
	}
}

.opacity {
	display: none;
}
